<div ng-controller="managePublicOffice_controller">
    
	<script type="text/ng-template" id="myModalContent.html">
		<div ng-include="'tpl/modal/bridgeassModal.html'" ></div>
	</script>
	<div class="bg-light lter b-b wrapper-md">
		<form class="form-inline ng-pristine ng-valid" role="form">
			<div class="form-group">
				<label for="exampleInputPassword"> 桥梁名称：</label>
				<input type="text" class="form-control" id="exampleInputPassword" ng-model="bridgeName" ng-required="true">
			</div>
			<div class="form-group">
				<label for="exampleInputPassword2">检测开始日期：</label>
				<input ng-model="time.start"
					   id="exampleInputPassword2"
					   class="Wdate mainbg form-control  "
					   onclick="WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'2015-1-1 00:00:00',maxDate:'2025-12-31 23:59:59',onpicked: function(){$(this).trigger('change')}})"
					   ng-required="true" onChange="">
			</div>
			<div class="form-group">
				<label for="exampleInputPassword3">检测结束时间：</label>
				<input ng-model="time.end"
					   id="exampleInputPassword3"
					   class="Wdate mainbg form-control  "
					   onclick="WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'2015-1-1 00:00:00',maxDate:'2025-12-31 23:59:59',onpicked: function(){$(this).trigger('change')}})"
					   ng-required="true" onChange="" >
			</div>
			<button class="btn btn-success" style="border-radius: 4px;" ng-click="">
				<span class="glyphicon glyphicon-search">查询</span>
			</button>
			<button class="btn btn-default" style="border-radius: 4px;" ng-click="">
				<span class="glyphicon glyphicon-search">重置</span>
			</button>
		</form>

	</div>
	<div class="wrapper-md">
		<div class="panel panel-default">
			<div>
				<table class="table  table-striped m-b-none" >
					<thead>
					<tr>
						<th style="width:12%">
							桥梁名称
						</th>
						<th style="width:10%">
							线路名称
						</th>
						<th style="width:10%">
							评价等级
						</th>
						<th style="width:10%">
							线路评分
						</th>
						<th style="width:10%">
							检测日期
						</th>
						<th style="width:10%">
							评价日期
						</th>
						<th style="width:18%">
							检测单位
						</th>
						<th style="width:10%">
							查看
						</th>
						<th style="width:10%">
							BCI评价
						</th>

					</tr>
					</thead>
					<tbody>

					<tr ng-repeat=" item in bridgeAssess ">
						<td>{{item.name}}</td>
						<td>{{item.road}}</td>
						<td>{{item.grade}}</td>
						<td>{{item.score}}</td>
						<td>{{item.checkDate}}</td>
						<td>{{item.evalDate}}</td>
						<td>{{item.checkUnit}}</td>
						<td ng-click="notice(item)">
							<a href="" class="redLook"><i class="glyphicon glyphicon-hand-up"></i></a>
						</td>
						<td>
							<a href="javascript:void(0);" style="color:#337ab7;" ng-click="notice(item)"><span class="glyphicon glyphicon-edit"></span></a>
						</td>

					</tr>

					</tbody>




				</table>
			</div>
			<footer class="panel-footer">
                <div class="row">
                    <div class="col-sm-4 text-left">
                        <small class="text-muted inline m-t-sm m-b-sm">显示1-3条，共3条</small>
                    </div>
                    <div class="col-sm-4 text-center">
                        <ul class="pagination pagination-sm m-t-none m-b-none">
                            <li><a href><i class="fa fa-chevron-left"></i></a></li>
                            <li><a href>1</a></li>
                            <li><a href>2</a></li>
                            <li><a href>3</a></li>
                            <li><a href>4</a></li>
                            <li><a href>5</a></li>
                            <li><a href><i class="fa fa-chevron-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </footer>


		</div>
	</div>
</div>