<style>.focus {
    background-color: #f7f7f7
}</style>
<div ng-controller="manageBridgeOrder_controller">
    <script type="text/ng-template" id="myModalContent.html">
        <div ng-include="'tpl/modal/orderInfo.html'"></div>
    </script>
    <div class="bg-light lter b-b wrapper-md">
        <form class="form-inline ng-pristine ng-valid" role="form">
            <div class="form-group">
                <label for="exampleInputEmail2"> 桥梁名称：</label>
                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword2">上报时间：</label>
                <input type="text" class="form-control" id="exampleInputPassword2" placeholder="">
            </div>
            <div class="form-group">
                <label> 病害名称：</label>
                <input type="text" class="form-control" id="exampleInputPassword2" placeholder="">
            </div>
            <div class="form-group">
                <label> 巡查公司：</label>
                <input type="text" class="form-control" id="exampleInputPassword2" placeholder="">
            </div>
            <div class="form-group">
                <label> 工单状态：</label>
                <select name="" id="" class="form-control">
                    <option value="">未处理</option>
                    <option value="">已派发</option>
                    <option value="">不派发</option>
                </select>
            </div>
            <button class="btn btn-success">查询</button>
        </form>

    </div>
    <div class="wrapper-md">
        <div class="panel panel-default">
            <div>


                <table class="table table-striped m-b-none">
                    <thead>
                    <tr>
                        <th style="width:12%">
                            工单编号
                        </th>
                        <th style="width:12%">
                            桥梁名称
                        </th>
                        <th style="width:12%">
                            病害名称
                        </th>
                        <th style="width:12%">
                            上报时间
                        </th>
                        <th style="width:12%">
                            巡查单位
                        </th>
                        <th style="width:12%">
                            工单状态
                        </th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="item in orderInfo" ng-click="clickOrder($index)" ng-class='{focus: $index==focus}'>
                        <td>{{item.id}}</td>
                        <td>{{item.bridgeName}}</td>
                        <td>{{item.diseaseName}}</td>
                        <td>{{item.time}}</td>
                        <td>{{item.maintainDept}}</td>
                        <td> <button class="btn btn-dark">{{item.state==0?'未处理':item.state==1?'未派单':'已派单'}}</button></td>
                    </tr>
                </table>
                <footer class="panel-footer">
                    <div class="row">
                        <div class="col-sm-4 text-left">
                            <small class="text-muted inline m-t-sm m-b-sm">显示1-3条，共3条</small>
                        </div>
                        <div class="col-sm-4 text-center">
                            <ul class="pagination pagination-sm m-t-none m-b-none">
                                <li><a href><i class="fa fa-chevron-left"></i></a></li>
                                <li><a href>1</a></li>
                                <li><a href>2</a></li>
                                <li><a href>3</a></li>
                                <li><a href>4</a></li>
                                <li><a href>5</a></li>
                                <li><a href><i class="fa fa-chevron-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </footer>

            </div>
        </div>
    </div>
</div>