
<div ng-controller="manageBridgeScheme_controller">

    <div class="bg-light lter b-b wrapper-md">
        <form class="form-inline ng-pristine ng-valid" role="form">
            <div class="form-group">
                <label for="exampleInputPassword2">工单编号：</label>
                <input type="text" class="form-control" id="exampleInputPassword2" placeholder="" ng-model="num">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1"> 桥梁名称：</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="" ng-model="name">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail2"> 提交时间：</label>
                <input type="text" class="form-control" id="exampleInputEmail2" placeholder="" ng-model="submit">
            </div>
            <div class="form-group">
                <label> 审核状态：</label>
                <select name="" id="" class="form-control" ng-model="selState">
                    <option value="" hidden>--请选择--</option>
                    <option value="0">未审核</option>
                    <option value="1">已通过</option>
                    <option value="2">不通过</option>
                </select>
            </div>
            <button class="btn btn-success" ng-click="search()">查询</button>
        </form>

    </div>
    <div class="wrapper-md">
        <div class="panel panel-default">
            <div>
                <table class="table table-striped m-b-none">
                    <thead>
                    <tr>
                        <th style="width:12%">
                            工单编号
                        </th>
                        <th style="width:12%">
                            桥梁名称
                        </th>
                        <th style="width:12%">
                            病害名称
                        </th>
                        <th style="width:12%">
                            提交时间
                        </th>
                        <th style="width:12%">
                            养护方案选择
                        </th>
                        <th>上传</th>
                        <th>养护方案</th>

                        <th style="width:12%">
                            审核状态
                        </th>
                    </tr>
                    </thead>
                    <tbody>


                    <tr ng-repeat="item in schemeInfo" >
                        <td>{{item.OrderNum}}</td>
                        <td>{{item.BridgeName}}</td>
                        <td>{{item.DiseaseName}}</td>
                        <td>{{item.SubmitDate}}</td>
                        <td><input type="file" name="file" id="file{{item.SchemeID}}"  ></td><!--<a href="">{{item.MaintenancePlan}}</a>-->
                        <td><button class="btn btn-success" ng-click="btn(item,'file{{item.SchemeID}}')">提交</button></td>
                        <td><a href="{{item.file}}" download style="text-decoration: underline;color:blue;" <!--ng-click="del(item)-->">{{item.file}}</a></td>
                        <td> <button class="btn btn-dark">{{item.state==0?'未审核':item.state==1?'已通过':'不通过'}}</button></td>
                    </tr>

                    </tbody>
                </table>
                <footer class="panel-footer">
                    <div class="row">
                        <div class="col-sm-4 text-left">
                            <small class="text-muted inline m-t-sm m-b-sm">显示1-3条，共3条</small>
                        </div>
                        <div class="col-sm-4 text-center">
                            <ul class="pagination pagination-sm m-t-none m-b-none">
                                <li><a href><i class="fa fa-chevron-left"></i></a></li>
                                <li><a href>1</a></li>
                                <li><a href>2</a></li>
                                <li><a href>3</a></li>
                                <li><a href>4</a></li>
                                <li><a href>5</a></li>
                                <li><a href><i class="fa fa-chevron-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>