<button type="button" class="btn btn-sm btn-default pull-right">
    <i class="fa fa-times fa-fw m-r-xs"></i>删除跨</button>
<button type="button" class="btn btn-sm btn-default  pull-right"><i class="fa fa-plus fa-fw m-r-xs"></i>新建跨</button>
<form role="form">
    <div  class="col-sm-12"><h4>基本信息</h4></div>
    <div class="col-sm-4">
        <label>桥跨编号</label>
        <input type="text" class="form-control ">
    </div>
    <div class="col-sm-4">
        <label>桥跨跨长</label>
        <input type="text" class="form-control ">
    </div>
    <div class="col-sm-4">
        <label>桥跨宽度</label>
        <input type="text" class="form-control ">
    </div>
    <div class="col-sm-4">
        <label>桥下净空</label>
        <input type="text" class="form-control ">
    </div>
    <div class="col-sm-4">
        <label>分联编号</label>
        <input type="text" class="form-control ">
    </div>
    <div class="col-sm-4">
        <label>分联跨径组合</label>
        <input type="text" class="form-control ">
    </div>
    <div class="col-sm-4 pull-right publicpage_mgT10" >
        <button class="btn btn-default pull-right " ng-click="cancel()">重置</button>
        <button class="btn btn-primary pull-right publicpage_mgR10" ng-click="ok()">保存</button>
    </div>

    <div  class="col-sm-12"><h4>构件信息</h4>
        <table class="table table-detail  m-b-none  " >
            <thead >
            <tr>
                <th style="width:16%">

                    构件编号
                </th>
                <th style="width:16%">
                    构件名称
                </th>
                <th style="width:16%">
                    构件类型
                </th>
                <th style="width:16%">
                    编号
                </th>
                <th style="width:16%">
                    类型
                </th>

                <th style="width:16%">
                    尺寸
                </th>
            </tr>
            </thead>
            <tbody>

            <tr >
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
            </tr>
            <tr >
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
            </tr>
            </tbody>
        </table>
    </div>



</form>