<div class="modal-body wrapper-lg">
<div><h3 class="m-t-none m-b font-thin">{{items.BridgeName}}</h3>
    <form role="form">
        <div class="form-group">
            <label>巡查周期</label>
            <input type="text" class="form-control" placeholder="">
        </div>
        <div class="form-group">
            <label>巡查次数</label>
            <input type="text" class="form-control" placeholder="">
        </div>
        <div class="form-group">
            <label>巡查单位</label>
            <input type="text" class="form-control" placeholder="">
        </div>
        <div class=" form-group" style="height:30px;">
            <button class="btn btn-default pull-right " ng-click="cancel()">重置</button>
            <button class="btn btn-primary pull-right publicpage_mgR10" ng-click="ok()">保存</button>
        </div>
    </form>
</div>
</div>